---
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ChargeSection from '../components/ChargeSection.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout title="Tesla - Un mundo más limpio">
	<LandingHeader />

	<main class="relative w-full h-screen overflow-auto snap-y snap-mandatory overflow-x-hidden scroll-m-0">
		<div class="snap-center">
			<HeroSection />
		</div>

		<div class="snap-center">
			<ChargeSection />
		</div>
	</main>
</Layout>
