<section
			class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
			data-header-color="black"
		>
		<div class="z-30 relative h-full flex flex-col">

			<header>
				<h2 class="text-black pt-28 text-4xl font-semibold mb-1">Model Y</h2>
				<p class="text-black text-xs font-normal underline mt-2">Concertar una prueba de conducción hoy</p>
			</header>
	
			<footer class="flex flex-grow justify-end flex-col pb-10">
				<div class="flex gap-x-4 mx-auto">
					<a
						href="#"
						class="text-white border-[3px] border-white bg-white/5 backdrop-blur-3xl rounded-sm font-normal px-10 py-2 inline-block hover:text-black hover:bg-white transition-colors duration-300 text-sm"
					>
						Explorar inventario
					</a>
          <a
            href="#"
            class="text-white border-[3px] border-white bg-white/5 backdrop-blur-3xl rounded-sm font-normal px-10 py-2 inline-block hover:text-black hover:bg-white transition-colors duration-300 text-sm"
          >
            Pedido personalizado
          </a>
				</div>
			</footer>
		</div>

			<div class="absolute top-0 bottom-0 z-10 h-full w-full">
				<img
          src="/model-y.avif"
          alt="Model Y"
          class="h-full w-full object-cover object-center"  
        >
			</div>
		</section>