---
import Section from "./Section.astro";
---

<Section
				title='Disfrute de Tesla'
				subtitle='Programe una prueba de conducción hoy mismo'
				color="white"
			>
				<div slot="footer">
					<a
						href="#"
						class="text-white border-[3px] border-white bg-white/5 backdrop-blur-3xl rounded-sm font-normal px-10 py-2 inline-block hover:text-black hover:bg-white transition-colors duration-300 text-sm"
					>
						Prueba de conducción
					</a>
				</div>

				<video
					slot="background"
					class="object-center object-cover h-full w-full"
					autoplay
					muted
					loop
					src="/video.webm"
				></video>
			</Section>