<section
			class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
			data-header-color="white"
		>
		<div class="z-30 relative h-full flex flex-col">

			<header>
				<h2 class="text-white pt-40 text-4xl font-normal mb-1">Disfrute de Tesla</h2>
				<p class="text-white text-xs font-light">Programe una prueba de conducción hoy mismo</p>
			</header>
	
			<footer class="flex flex-grow justify-end flex-col pb-10">
				<div>
					<a
						href="#"
						class="text-white border-[3px] border-white bg-white/5 backdrop-blur-3xl rounded-sm font-normal px-10 py-2 inline-block hover:text-black hover:bg-white transition-colors duration-300 text-sm"
					>
						Prueba de conducción
					</a>
				</div>
			</footer>
		</div>

			<div class="absolute top-0 bottom-0 z-10 h-full w-full">
				<video
				class="object-center object-cover h-full w-full"
				autoplay
				muted
				loop
				src="/video.webm"></video>
			</div>
		</section>